.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.claude/**
.git/**
.github/**
**/.DS_Store
**/.gitignore
**/.gitattributes
**/.editorconfig
**/.npmignore
esbuild.js
node_modules/**
